/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Header*/

.header {
	background-color: #333B3A;
	margin-bottom: 0px;
}

#home-logo {
	margin: auto;
	padding-bottom: 20px;
    text-align: center;
}
#home-logo img {
	width: 250px;
}

h2 {
	text-align: center;
	color: white;
}
h3 {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

/*Nav-Menu*/
.nav-menu {
	background-color: #5C5C5A;
	position: relative;
	text-align: center;
	margin: 0;
}


nav ul li {
 display: inline-block;
 padding: 0 8em;
 line-height: 3em;
 letter-spacing: 0.5em;
}

nav ul li:hover {
  background: #F3F2EE;
}

/*Biodata*/
.bio {
	background-color: #E3DECA;
	min-width: 600px;
}
.bio img {
	max-width: 100%;
}

.about-me {
	background-color: red;
	max-width: 200px;	
}

/*Footer*/
footer {
	background-color: #BCB9AC;
	color: #2B2B2B;
	padding: 50px;
	margin:0; 
	line-height: 25px;
}